.sec-resources {

    .sec-resources-li {
        margin-top: 3em;
    }

    .sec-resources-li-title {
        font-size: 1.5em;
    }

    .sec-resources-li-author {
        margin-top: 1em;
        font-size: 1.5em;
    }

    .sec-resources-li-released {
        font-size: 1.5em;
        font-style: italic;
    }

}