/* Mobile */
@media only screen and (max-width: 25em) {

    .mobile-1 {
        width: 50%;
    }

    .mobile-2 {
        width: 100%;
    }

    /* Page Header */
    .page-header {
        margin-top: 2em;
    }

}

/* tablets */
/* 1em = 16px, 25em = 400px */
@media only screen and (min-width: 25em) {

    /*************
        GRID
    ************/

    .row {
        max-width: 62.5em;
    }

    .medium-1 {
        width: 16.6667%;
    }

    .medium-2 {
        width: 33.3333%;
    }

    .medium-3 {
        width: 50%;
    }

    .medium-4 {
        width: 66.6667%;
    }

    .medium-5 {
        width: 83.3333%;
    }

    .medium-6 {
        width: 100%;
    }

    .medium-15 {
        width: 20%;
    }

    /*offset*/

    .m-offset-1 {
        margin-left: 16.6667%;
    }

    .m-offset-2 {
        margin-left: 33.3333%;
    }

    .m-offset-3 {
        margin-left: 50%;
    }

    .m-offset-4 {
        margin-left: 66.6667%;
    }

    .m-offset-5 {
        margin-left: 83.3333%;
    }

    .m-push-1 {
        left: 16.6667%;
    }

    .m-push-2 {
        left: 33.3333%;
    }

    .m-push-3 {
        left: 50%;
    }

    .m-push-4 {
        left: 66.6667%;
    }

    .m-push-5 {
        left: 83.3333%;
    }

    .m-pull-1 {
        left: -16.6667%;
    }

    .m-pull-2 {
        left: -33.3333%;
    }

    .m-pull-3 {
        left: -50%;
    }

    .m-pull-4 {
        left: -66.6667%;
    }

    .m-pull-5 {
        left: -83.3333%;
    }

    /* Page Header */
    .logo-wrapper {
        margin-top: 3em;
    }

}

/* desktop */
/* 1em = 16px, 53.750em = 860px */
@media only screen and (min-width: 53.750em) {

    /***********
        GRID
    ************/
    
    .row {
       width: auto;
       max-width: 124em;
    }

    .large-1 {
        width: 8.3333%;
    }

    .large-2 {
        width: 16.6667%;
    }

    .large-3 {
        width: 25%;
    }

    .large-4 {
        width: 33.3333%;
    }

    .large-5 {
        width: 41.6667%;
    }

    .large-6 {
        width: 50%;
    }

    .large-7 {
        width: 58.3333%;
    }

    .large-8 {
        width: 66.6667%;
    }

    .large-9 {
        width: 75%;
    }

    .large-10 {
        width: 83.3333%;
    }

    .large-11 {
        width: 91.6667%;
    }

    .large-12 {
        width: 100%;
    }

    .large-15 {
        width: 20%;
    }

    .l-offset-1 {
        margin-left: 8.3333%;
    }

    .l-offset-2 {
        margin-left: 16.6667%;
    }

    .l-offset-3 {
        margin-left: 25%;
    }

    .l-offset-4 {
        margin-left: 33.3333%;
    }

    .l-offset-5 {
        margin-left: 41.6667%;
    }

    .l-offset-6 {
        margin-left: 50%;
    }

    .l-offset-7 {
        margin-left: 58.3333%;
    }

    .l-offset-8 {
        margin-left: 66.6667%;
    }

    .l-offset-9 {
        margin-left: 75%;
    }

    .l-offset-10 {
        margin-left: 83.3333%;
    }

    .l-offset-11 {
        margin-left: 91.6667%;
    }

    .push-1 {
        left: 8.3333%;
    }

    .push-2 {
        left: 16.6667%;
    }

    .push-3 {
        left: 25%;
    }

    .push-4 {
        left: 33.3333%;
    }

    .push-5 {
        left: 41.6667%;
    }

    .push-6 {
        left: 50%;
    }

    .push-7 {
        left: 58.3333%;
    }

    .push-8 {
        left: 66.6667%;
    }

    .push-9 {
        left: 75%;
    }

    .push-10 {
        left: 83.3333%;
    }

    .push-11 {
        left: 91.6667%;
    }

    .pull-1 {
        right: 8.3333%;
    }

    .pull-2 {
        right: 16.6667%;
    }

    .pull-3 {
        right: 25%;
    }

    .pull-4 {
        right: 33.3333%;
    }

    .pull-5 {
        right: 41.6667%;
    }

    .pull-6 {
        right: 50%;
    }

    .pull-7 {
        right: 58.3333%;
    }

    .pull-8 {
        right: 66.6667%;
    }

    .pull-9 {
        right: 75%;
    }

    .pull-10 {
        right: 83.3333%;
    }

    .pull-11 {
        right: 91.6667%;
    }

}